#status{
    margin-left: 10em;
    width: 70%;
    height: 4em;
    margin-top: 7em;
}
#tag{
    margin-top: 2.5em;
    margin-left: 10em;
    width: 70%;
    
}
#button{
    float: left;
    margin-left: 10em;
}
.tweets{
    margin-left: 26em;
    margin-top: 5em;
    width: 50%;
    padding-right: 5em;
}
#message{
    width: 70%;
    margin-left: 10em;
}